.container {
    content: "";
    clear: both;
    padding: 5px;
    display: block;
    display: none;
}
.scoreboard{
    margin-left: 700px;
    border: solid 4px black;
    width: 150px;
    height: 50px;
}

#userscore{
    float: left;
}
#computerscore{
    float: right;
}


.titel {
    text-align: center;
    font-size: 70px;
}

.schaar {
    margin-left: 460px;
    float: left;
    width: 10%;
    display: table;
    margin-right: 10px;
}
.steen {
    float: left;
    width: 10%;
    display: table;
    margin-right: 10px;
}
.papier {
    float: left;
    width: 10%;
    display: table;
    margin-right: 10px;
}

.schaar:hover{
    box-shadow: 4px 4px 4px blue;
    cursor: pointer;
}
.steen:hover{
    box-shadow: 4px 4px 4px blue;
    cursor: pointer;
}
.papier:hover{
    box-shadow: 4px 4px 4px blue;
    cursor: pointer;
}
.winnersdiv{
    background: rgba(0, 0, 0, 0.3);
}
.winText {
    text-align: center;
    font-size: 50px;
    margin-top: 300px;
}
.button-start {
    position: absolute;
    margin-left: 700px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}